.button-layout {
  background-color: $light-blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button-layout-2 {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 500;
  line-height: 1;
  margin-top: $m-size;
  padding: $s-size;
  text-decoration: none;
}

.button-layout-2-icon {
  padding-right: 5px;
}

.button-layout-login {
  background-color: #1c88bf;
  border: none;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 500;
  line-height: 1;
  margin-top: $m-size;
  padding: $s-size;
  text-decoration: none;
}

.button-layout-signup {
  background-color: #1c88bf;
  border: none;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 500;
  line-height: 1;
  margin-left: $m-size;
  margin-top: $m-size;
  padding: $s-size;
  text-decoration: none;
}

.button-layout-login:hover,
.button-layout-signup:hover {
  background: grey;
  color: white;
}

.button-layout--link {
  background-color: $dark-blue;
  border: none;
  color: white;
}

.button-layout--secondary {
  background-color: #888888;
}

.google-button {
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 500;
  line-height: 1;
  margin-top: $m-size;
  padding: $s-size;
  text-decoration: none
}

.google-button-icon {}

.google-button {
  text-align: center;
  border-radius: 5px;
}

.google-button:hover {
  color: $light-blue;
}

.button-layout-2-text:hover {
  color: $light-blue;
}

svg {
  width: $m-size;
}
